@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.container-fluid {
    min-height: 100vh;
}
.row {
    min-height: 100vh;
}
/* body {
    margin: 0px;
    display:block;
}
/* .row {
    display: flex;
    flex-wrap: wrap;
} */

/* .container-fluid {
    width: 100%;
} */